.rating-wrapper {
  width: 350px;
  height: 400px;
  background-color: var(--color-dark-blue);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 24px;
}

.star-wrapper,
.rating-list button {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: var(--color-gray-faded);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.rating-list button {
  color: var(--color-light-gray);
  font-size: 1rem;
}

.rating-list button:hover {
  color: var(--color-white);
  background-color: var(--color-medium-gray);
}

.rating-list button:focus {
  color: var(--color-white);
  background-color: var(--color-primary);
}

h1 {
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

p {
  margin: 0;
  color: var(--color-light-gray);
  font-weight: 400;
  font-size: calc(15 / 16 * 1rem);
  line-height: 1.5;
}

.submit {
  text-transform: uppercase;
  padding: 16px;
  border: none;
  border-radius: 32px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.25ch;
}

.submit:focus {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.thank-you-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
